<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLB Edit</title>
</head>
<body>
    <h1>Edit <%=teams.name%> Stats</h1>
    <form action="/teams/<%=teams._id%>?_method=PUT" method="POST">
        Team Name: <input type="text" name="name" value="<%=teams.name%>" /><br />
        Location: <input type="text" name="location" value="<%=teams.location%>" /><br />
        <!-- Which League?:  NEED TO FIGURE OUT AND FILL IN-->
        Year Founded: <input type="number" name="yearFounded" value="<%=teams.yearFounded%>" /><br />
        World Series Wins: <input type="number" name="wsWins" value="<%=teams.wsWins%>">
        Image: <input type="text" name="img" value="<%=teams.img%>">
    </form>
</body>
</html>