<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American League Edit</title>
</head>
<body>
    <header>
        <h1>Edit <%=american.name%>'s Info</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/"><button>Home</button></a>
                </li>
                <li type="none">
                    <a href="/american"><button>American League Index</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2><%=american.name%> Attributes</h2>
        <form action="/american/<%=american._id%>?_method=PUT" method="POST">
            Team Name: <input type="text" name="name" value="<%=american.name%>" /><br />
            Location: <input type="text" name="location" value="<%=american.location%>" /><br />
            Eliminated?: <input type="checkbox" name="eliminated" <% if(american.eliminated === true){ %> checked <% } %>  /><br />
            Year Founded: <input type="number" name="yearFounded" value="<%=american.yearFounded%>" /><br />
            World Series Wins: <input type="number" name="wsWins" value="<%=american.weWins%>" /><br />
            Image: <input type="text" type="img" value="<%=american.img%>" />
            <input type="submit" value="Submit Changes">
        </form>
    </main>
    <style>
        body{
            background-image: url("https://media.istockphoto.com/photos/baseball-field-in-outdoor-stadium-with-copy-space-picture-id1143984948?k=20&m=1143984948&s=612x612&w=0&h=3c2Ch6QQ3sm9OcPpnjE7bGg68NWsal9kLiDu8Wm8uQs=");
            background-size: cover;
        }
        form{
            color: aqua;
        }
        h1,h2{
            color: aqua;
            background-color: blueviolet;
            width: fit-content;
        }
        </style>
</body>
</html>