<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American League Edit</title>
</head>
<body>
    <header>
        <h1>Edit <%=american.name%>'s Info</h1>
        <nav>
            <ul>
                <li type="none">
                    <a href="/"><button>Home</button></a>
                </li>
                <li type="none">
                    <a href="/american"><button>American League Index</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2><%=american.name%> Attributes</h2>
        <form action="/american/<%=american._id%>?_method=PUT" method="POST">
            Team Name: <input type="text" name="name" value="<%=american.name%>" /><br />
            Location: <input type="text" name="location" value="<%=american.location%>" /><br />
            Eliminated?: <input type="checkbox" name="eliminated" <% if(american.eliminated === true){ %> checked <% } %>  /><br />
            Year Founded: <input type="number" name="yearFounded" value="<%=american.yearFounded%>" /><br />
            World Series Wins: <input type="number" name="wsWins" value="<%=american.weWins%>" /><br />
            Image: <input type="text" type="img" value="<%=american.img%>" />
            <input type="submit" value="Submit Changes">
        </form>
    </main>
</body>
</html>