<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American League</title>
</head>
<body>
    <fieldset>

        <header>
            <h1><%=american.name%></h1>
            <nav>
                <ul>
                    <li type="none">
                        <a href="/"><button>Home</button></a>
                    </li>
                    <li type="none">
                        <a href="/american"><button>American League Index</button></a>
                    </li>
                </ul>
            </nav>
        </header>
    </fieldset>
    <fieldset>

        <main>
            <section>
                Team Name: <%=american.name%> <br/>
                Location: <%=american.location%> <br />
                Eliminated?: <%=american.eliminated%> <br />
                Year Founded: <%=american.yearFounded%> <br />
                World Series Wins: <%=american.wsWins%> <br />
                <img src="<%=american.img%>" />
            </section>
            <section>
                <form action="/american/<%=american._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Team" />
                </form>
            </section>
            <section>
                <a href="/american/<%=american._id%>/edit"><button>Edit</button></a>
            </section>
        </main>
    </fieldset>
        <style>
            body{
            background-image: url("https://media.istockphoto.com/photos/baseball-field-in-outdoor-stadium-with-copy-space-picture-id1143984948?k=20&m=1143984948&s=612x612&w=0&h=3c2Ch6QQ3sm9OcPpnjE7bGg68NWsal9kLiDu8Wm8uQs=");
            background-size: cover;
        }
        header{
            color: aqua;
        }
        section{
            color: rgb(224, 47, 12);
            background-color: aqua;
            width: fit-content;

        }
        fieldset{
            align-items: center;
                }
        </style>
</body>
</html>